body{
  background: #f8f8f8;
}
header{
  margin: 0 0 1rem 0;
}
header a{
  color: #ffffff;
  text-decoration: none;
}
.tags{
  display: flex;
  flex-wrap: wrap;
}
.tags__item{
  margin: 0.2rem;
  cursor: pointer;
}